<VirtualHost *:80>

    ServerName photoapp.example.com
    ProxyPass "/.well-known" !
    ProxyPass "/favicon.ico" !
    ProxyPass "/css" !
    ProxyPass "/js" !
    ProxyPass "/" "http://127.0.0.1:8200/"
    ProxyPassReverse "/" "http://127.0.0.1:8200/"
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    alias "/css" "/var/lib/<app_user>/css"
    alias "/js" "/var/lib/<app_user>/js"

    <Directory "/var/lib/<app_user>/css">
      ExpiresActive on
      ExpiresDefault "access plus 15 minutes"
      Header set Cache-Control max-age=900
      Options Indexes
      Require all granted
      Allow from all
    </Directory>

    <Directory "/var/lib/<app_user>/js">
      ExpiresActive on
      ExpiresDefault "access plus 15 minutes"
      Header set Cache-Control max-age=900
      Options Indexes
      Require all granted
      Allow from all
    </Directory>

</VirtualHost>
